<div class="repo-container-outer">
  {{#each activeRepos}}
    <div class="repo-container">
      <h2 class="repo-title">{{name}} ({{pullRequests.length}})</h2>
      {{#each pullRequests}}
        <div class="repo-card">
          <div class="card-content">
            <div class="pull-request-title">
              <a href={{url}}>#{{number}} {{title}}</a>
            </div>
            <div class="people-involved">
              <div class="author">
              <label>Author<label>
                <div class="person">
                  <img class="avatar" src={{author.avatar}} height="40" width="40" />
                </div>
              </div>
              <div class="reviewers">
                <label>Reviewers<label>
                <div class="reviewer-container">
                {{#each reviewers}}
                  <div class="person">
                    <img class="avatar" src={{avatar}} height="40" width="40" />
                  </div>
                {{/each}}
                </div>
              </div>
            </div>
          </div>
          <div class="pull-request-opened {{ageColor}}">
            <p>Opened {{opened}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
